%html
  %body
    %div.container{:style => 'text-align: center; padding: 120px'}
      %label IP Address
      %h2= @ip
      %h2= @isp
      %br
      %label GeoIP
      %br
      %br
      %div
        %strong= "#{@city}, #{@region}, #{@country}"
      %div
        %strong= "#{@lat}, #{@lon}"
      %div
        %strong= @tz
